.main-container{
    background: #ECECEC;
    /* padding:30px; */
    height: 100vh;
    display: flex;  
    justify-content: center;  
    align-items: center;  
}

.sub-container{
    display: flex;  
    justify-content: center;  
    align-items: center;  
}