<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzFor="name">名字</nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="请输入员工姓名">
      <input id="name" type="text" nz-input formControlName="name" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzFor="month">月份</nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="请选择月份">
      <nz-select
        id="month"
        formControlName="month"
        nzPlaceHolder="选择一个月份"
        (ngModelChange)="genderChange($event)"
      >
        <nz-option
          *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]"
          nzValue="{{ i }}"
          nzLabel="{{ i }}月"
        ></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzFor="less">少于</nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="出勤少于">
      <input id="less" type="text" nz-input formControlName="less" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzFor="more">多于</nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="出勤多于">
      <input id="more" type="text" nz-input formControlName="more" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzSpan]="12" [nzOffset]="10">
      <button nz-button nzType="primary">搜索</button>&nbsp;&nbsp;
      <button nz-button nzType="default" (click)="openModal()">添加部门</button>
    </nz-form-control>
  </nz-form-item>
</form>
<nz-table
  #fixedTable
  [nzData]="listOfData"
  [nzScroll]="{ x: '1150px', y: '50vh' }"
>
  <thead>
    <tr>
      <!-- <th nzLeft>id</th> -->
      <th nzLeft>部门名称</th>
      <th nzLeft>描述</th>
      <th nzRight>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of fixedTable.data">
      <ng-container *ngIf="!editCache[data.id].edit && listOfData.length < 1">
        <nz-empty></nz-empty>
      </ng-container>
      <ng-container
        *ngIf="
          !editCache[data.id].edit && listOfData.length > 0;
          else editTemplate
        "
      >
        <!-- <td nzLeft>{{ data.id }}</td> -->
        <td nzLeft>{{ data.name }}</td>
        <td nzLeft>{{ data.description }}</td>
        <td>
          <nz-tag [nzColor]="'#2db7f5'"><a (click)="startEdit(data.id)">编辑</a></nz-tag>
          <nz-tag [nzColor]="'#f50'"><a (click)="deleteItem(data.id)">删除</a></nz-tag>
        </td>
      </ng-container>
      <ng-template #editTemplate>
        <!-- <td>
          <input
            type="text"
            nz-input
            [(ngModel)]="editCache[data.id].data.id"
          />
        </td> -->
        <td>
          <input
            type="text"
            nz-input
            [(ngModel)]="editCache[data.id].data.name"
          />
        </td>
        <td>
          <input
            type="text"
            nz-input
            [(ngModel)]="editCache[data.id].data.description"
          />
        </td>
        <td>
          <a (click)="saveEdit(data.id)" class="save">保存</a>
          <a
            nz-popconfirm
            nzPopconfirmTitle="确定取消?"
            (nzOnConfirm)="cancelEdit(data.id)"
            >取消</a
          >
        </td>
      </ng-template>
    </tr>
  </tbody>
</nz-table>
<nz-modal [(nzVisible)]="isVisible" nzTitle="添加部门" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="validateAddForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="5" nzFor="name">部门名</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="">
          <input nz-input placeholder="部门名（全英文）" formControlName="name" />
        </nz-form-control>
      </nz-form-item><nz-form-item>
        <nz-form-label [nzSpan]="5" nzFor="description">介绍</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="">
          <textarea nz-input placeholder="介绍" formControlName="description" [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>